@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
.icono-svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0; /* para que no se reduzca si hay poco espacio */
}
.icon-list-item{
    @apply mb-1 font-normal text-gray-900 md:text-lg flex items-start;
}
