@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
.icono-svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0; /* para que no se reduzca si hay poco espacio */
}
.icon-list-item{
  display: flex;
  align-items: start;
  padding: 6px 0px;
}
.colorblan{
  color: white;
}
.colorne{
  color: black;
}